In [1]:
using CSV, DataFrames, Statistics, FreqTables

In [2]:
a1=DataFrame(CSV.File("./csv/allowance.csv"))

1526×4 DataFrame
  Row │ alldate     username   amount   category
      │ Date        String15   Float64  String
──────┼─────────────────────────────────────────────────
    1 │ 2014-08-18  anderson       3.0  allowance
    2 │ 2014-08-18  evelyn         2.0  allowance
    3 │ 2014-08-25  anderson       3.0  allowance
    4 │ 2014-08-25  evelyn         2.0  allowance
    5 │ 2014-09-01  anderson       3.0  allowance
    6 │ 2014-09-01  evelyn         2.0  allowance
    7 │ 2014-09-08  anderson       3.0  allowance
    8 │ 2014-09-08  evelyn         2.0  allowance
    9 │ 2014-09-15  anderson       3.0  allowance
   10 │ 2014-09-15  evelyn         2.0  allowance
   11 │ 2014-09-22  anderson       3.0  allowance
  ⋮   │     ⋮           ⋮         ⋮            ⋮
 1517 │ 2022-05-16  josephine      3.0  allowance
 1518 │ 2022-05-23  evelyn         5.0  allowance
 1519 │ 2022-05-23  josephine      3.0  allowance
 1520 │ 2022-05-30  evelyn         5.0  allowance
 1521 │ 2022-05-30  josephine      3.0  allowance
 1522 │ 2022-06-06  evelyn         5.0  allowance
 1523 │ 2022-06-06  josephine      3.0  allowance
 1524 │ 2022-06-13  evelyn         5.0  allowance
 1525 │ 2022-06-13  josephine      3.0  allowance
 1526 │ 2022-06-11  josephine     55.0  airbnb cleaning
                                       1505 rows omitted

In [3]:
a2=groupby(a1,:username)

GroupedDataFrame with 3 groups based on key: username
First Group (535 rows): username = "anderson"
 Row │ alldate     username  amount   category
     │ Date        String15  Float64  String
─────┼──────────────────────────────────────────────────────────────────
   1 │ 2014-08-18  anderson     3.0   allowance
   2 │ 2014-08-25  anderson     3.0   allowance
   3 │ 2014-09-01  anderson     3.0   allowance
   4 │ 2014-09-08  anderson     3.0   allowance
   5 │ 2014-09-15  anderson     3.0   allowance
   6 │ 2014-09-22  anderson     3.0   allowance
   7 │ 2014-09-29  anderson     3.0   allowance
   8 │ 2014-10-06  anderson     3.0   allowance
   9 │ 2014-10-13  anderson     3.0   allowance
  10 │ 2014-10-15  anderson   -16.8   gem
  11 │ 2014-10-20  anderson     3.0   allowance
  ⋮  │     ⋮          ⋮         ⋮                     ⋮
 525 │ 2022-01-15  anderson   -22.4   Best Buy headset
 526 │ 2021-12-25  anderson    62.73  Savannah Kuhn xmas amazon card
 527 │ 2022-01-01  anderson  -125.0   rent holland 2022-01
 528 │ 2022-01-21  anderson  2300.0   webwork project
 529 │ 2022-02-01  anderson  -125.0   rent holland 2022-02
 530 │ 2022-02-20  anderson   -41.7   cash out
 531 │ 2022-03-01  anderson  -125.0   rent holland 2022-03
 532 │ 2022-04-01  anderson  -125.0   rent holland 2022-04
 533 │ 2022-04-22  anderson    63.57  Grammie bd
 534 │ 2022-06-03  anderson   -26.0   Uber eats from Chase CC
 535 │ 2022-06-17  anderson    -2.5   compass card
                                                        513 rows omitted
⋮
Last Group (455 rows): username = "josephine"
 Row │ alldate     username   amount   category
     │ Date        String15   Float64  String
─────┼─────────────────────────────────────────────────
   1 │ 2015-08-24  josephine      1.0  allowance
   2 │ 2015-08-31  josephine      1.0  allowance
   3 │ 2015-09-07  josephine      1.0  allowance
   4 │ 2015-09-14  josephine      1.0  allowance
   5 │ 2015-09-21  josephine      1.0  allowance
   6 │ 2015-09-28  josephine      1.0  allowance
   7 │ 2015-10-05  josephine      1.0  allowance
   8 │ 2015-10-12  josephine      1.0  allowance
   9 │ 2015-10-19  josephine      1.0  allowance
  10 │ 2015-10-26  josephine      1.0  allowance
  11 │ 2015-11-02  josephine      1.0  allowance
  ⋮  │     ⋮           ⋮         ⋮            ⋮
 445 │ 2022-04-11  josephine      3.0  allowance
 446 │ 2022-04-18  josephine      3.0  allowance
 447 │ 2022-04-25  josephine      3.0  allowance
 448 │ 2022-05-02  josephine      3.0  allowance
 449 │ 2022-05-09  josephine      3.0  allowance
 450 │ 2022-05-16  josephine      3.0  allowance
 451 │ 2022-05-23  josephine      3.0  allowance
 452 │ 2022-05-30  josephine      3.0  allowance
 453 │ 2022-06-06  josephine      3.0  allowance
 454 │ 2022-06-13  josephine      3.0  allowance
 455 │ 2022-06-11  josephine     55.0  airbnb cleaning
                                       433 rows omitted

In [4]:
combine(a2,:amount => sum)

3×2 DataFrame
 Row │ username   amount_sum
     │ String15   Float64
─────┼───────────────────────
   1 │ anderson      1268.08
   2 │ evelyn         568.71
   3 │ josephine      341.72